<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UrlTelaConversaoTemperaturas"
         value="http://exemploconversaotemperaturas.azurewebsites.net/"/>
    <add key="CaminhoDriverChrome"
         value="C:\Selenium\ChromeDriver\" />
  </appSettings>
</configuration>